- content_for :aside do
  = render :partial => 'shared/categories'
  = render :partial => 'shared/authors'

- @author_projects.each do |project|
  = render :partial => 'shared/project', :locals => { :project => project}