- content_for :aside do
  = render :partial => 'shared/categories'
  
- @visible_projects.each do |project|
  = render :partial => 'shared/project', :locals => { :project => project}
= will_paginate @visible_projects