- @visible_projects[0..2].each do |project|
  = render :partial => 'shared/project', :locals => { :project => project}
#categories      
  %ul    
    - @categories.each do |category|
      %li{ :style => 'color: grey; font-style: italic;'}= link_to category.name, category
- @visible_projects[3..5].each do |project|
  = render :partial => 'shared/project', :locals => { :project => project}
= will_paginate @visible_projects