- content_for :aside do
  %h4 Adres
  Galeria Sztuki Jackowscy
  ul. Sienkiewicza 10/12A
  Kielce 25-333 
  tel 41 341 73 93

  galeriajackowscy@gmail.com

  Czynne
  Wt. - Czw.: 11:00 - 20:00
  Pt. - Niedz.: 11:00 - 22:00

%iframe{ :width => "782", :height => "252", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Henryka+Sienkiewicza+22+Kielce&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=23.701453,54.228516&amp;ie=UTF8&amp;hq=&amp;hnear=Henryka+Sienkiewicza+22,+Kielce,+%C5%9Bwi%C4%99tokrzyskie,+Poland&amp;t=m&amp;z=14&amp;ll=50.870184,20.631327&amp;output=embed"}
  %br/
  %small
    %a{ :href => "http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Henryka+Sienkiewicza+22+Kielce&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=23.701453,54.228516&amp;ie=UTF8&amp;hq=&amp;hnear=Henryka+Sienkiewicza+22,+Kielce,+%C5%9Bwi%C4%99tokrzyskie,+Poland&amp;t=m&amp;z=14&amp;ll=50.870184,20.631327",  :style => "color:#0000FF;text-align:left" }
      View Larger Map