- content_for :aside do
  = render :partial => 'shared/categories'

#category
  Wszystkie prace
  
- @projects.each do |project|
  = render :partial => 'shared/project', :locals => { :project => project}
= will_paginate @projects