#category
  Wszystkie prace
  
- @projects.each do |project|
  = render :partial => 'shared/project', :locals => { :project => project}
= will_paginate @projects

%br/
-if user_signed_in?
  = link_to 'New Project', new_project_path
