a
  text-decoration: none
  color: #a38c76

body
  padding: 0px
  margin: 0px
  font:
    family: 'helvetica Neue', helvetica, arial
  color: #808080
  header, article, footer
    padding: 0 48px
    width: 1012px
    margin: 0 auto
  header
    nav
      ul
        padding: 16px
        +clearfix
        li
          a
            color: #cdcccc
            height: 55px
            padding: 0 12px
            line-height: 55px
            text:
              decoration: none
              align: center
              overflow: hidden
            font:
              size: 12px
            float: left
            display: block
            font-style: italic
            text-decoration: none
            &:hover
              color: #a38c76
        &.home
          li.home
            a
              color: #a38c76
        &.projects
          li.projects
            a
              color: #a38c76
        &.blogs
          li.blogs
            a
              color: #a38c76
        &.categories
          li.categories
            a
              color: #a38c76
              
    +clearfix
  aside
    width: 252px
    margin-right: 1px
    float: left
    position: relative
  section#content
    width: 759px
    float: left
    position: relative
  #logo
    float: left
    auto
    width: 236px
    height: 236px
    padding: 8px
    background-color: #404040
    position: relative
    margin: 0 1px 1px 0
    p
      position: absolute
      top: 80px
      text-transform: uppercase
      color: gray
      font-size: 10px
    h1
      a
        position: absolute
        top: 36%
        color: white
        text-decoration: none
  #categories
    float: left
    width: 252px
    height: 252px
    display: block
    overflow: hidden
    margin: 0 1px 1px 0
    ul
      padding: 16px
      li
        color: gray
        font-style: italic
        a
          line-height: auto
          height: 55px
          width: 85px
          display: block
          line-height: 55px
          background:
            color: #f1eeeb
          float: left
          margin: 0 1px 1px 0
          padding: 0 12px
          text-align: center
          overflow: hidden        
          display: inline
          vertical-align: baseline
          color: #817f7d
          text:
            decoration: none
            transform: uppercase
          font:
            size: 12px
            weight: bold
          &:hover
            color: white
            background:
              color: rgba(163, 140, 118, 0.9)
        &.selected
          a
            color: white
            background:
              color: rgba(163, 140, 118, 0.7)
            &:hover
              +single-transition(background-color, 3, ease-in, 0)
              background-color: rgba(163, 140, 118, 0.9)
  #authors
    float: left
    width: 252px
    display: block
    margin: 0 1px 1px 0
    ul
      padding: 16px
      li
        color: grey
        font-style: italic
        a
          line-height: auto
          width: 195px
          display: block
          background:
            color: #f1eeeb
          float: left
          margin: 0 1px 1px 0
          padding: 18px 12px
          text-align: center
          overflow: hidden        
          display: inline
          vertical-align: middle
          color: #817f7d
          text:
            decoration: none
            transform: uppercase
          font:
            size: 12px
            weight: bold
          &:hover
            color: white
            background:
              color: rgba(163, 140, 118, 0.9)
        &.selected
          a
            color: white
            background:
              color: rgba(163, 140, 118, 0.7)
            &:hover
              +single-transition(background-color, 3, ease-in, 0)
              background-color: rgba(163, 140, 118, 0.9)
  #category, .category
    float: left
    margin: 0 1px 1px 0
    width: 236px
    height: 236px
    padding: 8px
    background:
      color: rgba(163, 140, 118, 0.9)
    color: white
    line-height: 236px
    text:
      decoration: none
      align: center
      overflow: hidden
      transform: uppercase
    font:
      size: 12px
  
  article
    figure.project
      a
        margin: 0 1px 1px 0
        float: left
        width: 252px
        height: 252px
        display: block
        position: relative
        background:
          position: 50% 50%
        .badge
          width: 236px
          padding: 8px
          position: absolute
          bottom: 0
          background:
            color: rgb(163, 140,118)
            color: rgba(163, 140, 118, 1)
          .author, .name, .price
            color: #574b3f
            font-size: 11px
          .author
            font-weight: bold
            text-transform: uppercase
            margin-bottom: 5px
          .name
            font-style: italic
            padding-right: 50px
          .price
            font-style: italic
            float: right
            font-size: 12px
    #project_big
      position: relative
      margin: 0 1px 1px 0
      float: left
      margin-bottom: 70px
      .back
        position: absolute
        top: -20px
        right: 0px
      figure.project_img
        width: 758px
        height: 600px
        display: block
        position: relative
        overflow: hidden
        background:
          color: rgb(163, 140,118)
          color: rgba(163, 140, 118, 1)
      .details
        color: #625447
        position: relative
        background:
          color: rgb(163, 140,118)
          color: rgba(163, 140, 118, 1)
        padding: 9px 0
        p
          font-style: italic
          padding: 6px 18px
        p.title
          text-transform: uppercase
          font-style: normal
        .price
          top: 0
          right: 0
          position: absolute
          background: 
            color: rgb(124, 181, 109)
            color: rgba(124, 181, 109, 1)
          color:  white
          padding: 30px 0
          width: 252px
          font-size: 20px
          height: 70px
          p
            +text-shadow( 0px -1px 0 #67995a)
            text-align: center
          p.text
            font-size: 24px
            text-transform: uppercase
            font-weight: bold
            color: #3f7631
            +text-shadow( 0px 1px 0px #88c17a)
    #other_projects
      h3
        text-transform: uppercase
        margin-bottom: 20px
      .back
        position: absolute
        bottom: -60px
        right: 0px
.pagination
  text-align: center
  font-size: 13px
  clear: left
  padding: 25px
  font-style: italic
  +clearfix
  span, em, a
    padding: 5px
  span.previous_page.disabled
  em.current
  a.next
  a.next_page